$font-main: "Montserrat", sans-serif;
$background: #101015;
$color: #ffffff;

$code: #151525;
$dark: #151520;
$tip: $code;
$border: #252535;

$down: #505060;
$down-hover: #757585;


$blue: #252550;
$link: #6a6aff;
$red: #FF6252;
$green: #66ff52;
$gray: #c0c0c0;
$dark-gray: #a0a0a0;